body {
  background: #cfe8ff !important;
}
.teamtext {
  margin-bottom: 60px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  background: linear-gradient(91.02deg, #ff00f5 -1.44%, #0085ff 92.73%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button {
  padding: 7px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid black;
  font-size: 13px;
  box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
}

.imag,
.imag2,
.imag3,
.imag4 {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imag {
  background-color: hsl(180, 62%, 55%);
}

.imag2 {
  background-color: hsl(0, 78%, 62%);
}

.imag3 {
  background-color: hsl(212, 86%, 64%);
}

.imag4 {
  background-color: hsl(34, 97%, 64%);
}
.box {
  border-radius: 20px;
  box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
  padding: 20px;
  margin: 15px;
  background-color: white;
}
.cyan {
  border-top: 3px solid hsl(180, 62%, 55%);
}
.red {
  border-top: 3px solid hsl(0, 78%, 62%);
}
.blue {
  border-top: 3px solid hsl(212, 86%, 64%);
}
.orange {
  border-top: 3px solid hsl(34, 97%, 64%);
}

@media (min-width: 950px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box-down {
    position: relative;
    top: 150px;
  }
  .box {
    width: 20%;
  }
}
